body {
    background-color:yellow ;
}
#btn1{
    float:right;
}

.btn-danger:hover{
  background-color: navy;
}

canvas{
  animation-name: example;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

@keyframes example{
  0%{box-shadow: 1px 1px 40px aqua ;}
  25%{box-shadow: 1px 1px 40px cornflowerblue;}
  50%{box-shadow:1px 1px 40px darkcyan;}
  75%{box-shadow: 1px 1px 40px blue;}
  100%{box-shadow:1px 1px 40px navy;}
}